html, body {
  height: 100%;
}

.App {
  text-align: center;
  height: 100%;
}

body {
  background-color: rgb(255, 255, 255);
  overflow: hidden;
}

a, .link {
  text-decoration: none;
  cursor: pointer;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 15vh;
}

.header h1 {
  margin: 10px;
}

.main {
  margin-top: 20vh;
  height: 80vh;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}

.footer {
  position: static;
  bottom: 0;
  height: 5vh;
  border-top: 1px solid black;
}

/*tablet*/
@media screen and (min-width: 600px) {

  .header {
    display: flex;
    flex-direction: row;
  }

  .header h1 {
    margin: 21px;
  }

  .listContainer {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    text-align: center;
    margin: 5%;
  }
}
