.App {
  text-align: center;
}

body {
  background-color: rgb(52, 131, 235);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: yellow;
  position: fixed;
  top: 0;
  width: 100%
}

.main {
 display: flex;
 flex-direction: column;
}

.sitesDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,.5);
  height: 30vh;
  margin: 5%;
}

.bitesDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,.5);
  height: 30vh;
  margin: 5%;
}

.footer {
  background-color: yellow;
  position: fixed;
  bottom: 0;
  width: 100%
}

/*tablet*/
@media screen and (min-width: 600px) {

  .header {
    display: flex;
    flex-direction: row;
  }

  .main {
    display: grid;
    
  }

}
