.login-form {
  background-color: #956FE8;
  opacity: 0.9;
  align-content: center;
  min-width: 325px;
  width: 100%;
  margin: 3% auto;
  border-radius: 1%;
  color: #FFFFFF;
}

.login-form p {
  color: rgb(255,0,0);
}

form {
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;
  padding: 3%;
}

input {
  margin: 4%;
  border-radius: 2%;
  padding: 3%;
  min-width: 200px;
  font-size: 1.1rem;
}

button {
  margin: 7%;
  min-width: 100px;
  font-size: 1.01rem;
  border-radius: 5%;
}

form button, .register-btn {
  background-color: #62F5B5;
  padding: 3% 22%;
}

.register-btn {
  max-width: 209px;
  max-height: 42px;
}

button:hover {
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  .login-form {
    align-content: center;
    max-width: 435px;
    height: 500px;
    border-radius: 1%;
  }

  form {
    width: 80%;
    justify-content: center;
    margin: 0 auto;
  }
}
